h1 {
	font-family:  "Courier New";
	font-weight:  bold;
	text-align:  center;
	border:  3px solid black;
	padding:  10px;
	margin-bottom:  25px;
}
h3 {
	font-family: "Courier New";
	text-align:  center;
}


.container {
	text-align:  center;
/*	width: fit-content;
*//*		border:  3px solid black;
*/
}

#button{
	font-size:  50px;
	cursor:  pointer;
	/*position:  relative;
	right: 0;
	left: 0;
	margin-right: auto;
	margin-left: auto;*/
}

#checkcont{
			border:  3px solid black;
			padding:  3px;
	padding-top:  8px;
	padding-bottom:  8px;
	padding-left: 30px;
	padding-right: 30px;
	/*min-width: 20%;
	max-width: 25%;*/
	width: fit-content;
	 position: relative;
    /* center the element */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
}

#maincont{
		border:  3px solid black;
		padding:  3px;
	padding-top:  8px;
	padding-bottom:  8px;
	/*min-width: 20%;
	max-width: 50%;*/
	width: fit-content;
	 position: relative;
    /* center the element */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
}

#monster{
	font-size:  40px;
	font-family:  "Courier New";
	padding-bottom:  5px;
	padding-left:  40px;
	padding-right: 40px;
	/*padding:  3px;
	padding-top:  8px;
	padding-bottom:  8px;
	min-width: 20%;
	max-width: 50%;
	 position: relative;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;*/
}

#type{
	font-size:  25px;
	font-family:  "Courier New";
	font-style: italic;
}



label{
	font-size:  15px;
	font-family:  "Courier New";
}